<template>
  <div class="Classifier">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 wrapper-return d-flex justify-content-start">
          <router-link :to="{ name: 'Dashboard' }" class="arrow">
            <i class="fas fa-arrow-left"></i>
          </router-link>
        </div>
      </div>
    </div>
    <Header :title="headerTitle"/>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button class="btn btn-warning" data-toggle="modal" data-target="#classifierModal">Crear clasificador</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <v-client-table :data="tableData" :columns="columns" :options="options">
            <div slot="actions" slot-scope="props">
              <button class="btn btn-warning btn-sm btn-fill btn-options btn-sqr" @click="openModalForEdition(props.row.item_competence_id, props.row.description)">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button class="btn btn-danger btn-sm btn-fill btn-options btn-sqr" @click="deleteItemCompetence(props.row.item_competence_id)">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </v-client-table>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="classifierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Clasificador</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clearModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="classifierName">Nombre del clasificador</label>
                <input type="text" class="form-control" id="classifierName" v-model="classifier">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="clearModal()">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="classifierEditId ? editCompetence() : saveCompetence()">
              Guardar cambios
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import itemService from '@/services/items'
import Header from '@/components/Header'

export default {
  name: 'Classifier',
  components: { Header },
  data () {
    return {
      classifierEditId: '',
      classifier: '',
      headerTitle: 'Administrar clasificadores',
      tableData: [],
      columns: ['item_competence_id', 'description', 'actions'],
      options: {
        headings: {
          item_id: 'Id',
          title: 'Titulo',
          description: 'Descripción',
          actions: 'Acciones'
        },
        texts: {
          filter: 'Filtrar',
          filterPlaceholder: 'Buscar',
          limit:"Registros:",
          count:"Mostrando {from} a {to} de {count} registros|{count} registros|One record"
        }
      }
    }
  },
  beforeMount () {
    itemService.getCompetences()
      .then(({ data }) => {
        this.tableData = data.records
      })
  },
  mounted () {
    $(() => {
      $('#classifierModal').on('hidden.bs.modal', () => {
        this.clearModal()
      })
    })
  },
  methods: {
    deleteItemCompetence(idCompetence) {
      this.$swal({
        title: '¿Estás seguro?',
        text: "No se podrán deshacer los cambios",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si! eliminarlo',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          itemService.deleteItemCompetence(idCompetence)
          .then(() => {
            this.$swal({
              type: 'success',
              title: 'Elemento eliminado con éxito',
              showConfirmButton: false
            })

            location.reload()
          })
          .catch(() => {
            this.$swal({
              type: 'error',
              title: 'Ha ocurrido un error al eliminar'
            })
          })
        }
      })
    },

    openModalForEdition (idCompetence, description) {
      this.classifierEditId = idCompetence
      this.classifier = description
      $(function () {
        $('#classifierModal').modal('show')
      })
    },

    clearModal () {
      this.classifierEditId = ''
      this.classifier = ''
    },

    editCompetence () {
      if (this.classifier) {
        itemService.updateCompetence(this.classifierEditId, this.classifier)
        .then(() => {
          this.$swal({
            type: 'success',
            title: 'Clasificador actualizado con éxito',
            showConfirmButton: false
          })

          location.reload()
        })
        .catch(() => {
          this.$swal({
            type: 'error',
            title: 'Ha ocurrido un error al actualizar'
          })
        })
      } else {
        this.$swal({
          type: 'warning',
          title: 'Debe llenar los campos'
        })
      }
    },

    saveCompetence () {
      if (this.classifier) {
        itemService.createCompetence(this.classifier)
        .then(() => {
          this.$swal({
            type: 'success',
            title: 'Clasificador creado con éxito',
            showConfirmButton: false
          })

          location.reload()
        })
        .catch(() => {
          this.$swal({
            type: 'error',
            title: 'Ha ocurrido un error al crear'
          })
        })
      } else {
        this.$swal({
          type: 'warning',
          title: 'Debe llenar los campos'
        })
      }
    }
  }
}
</script>

<style scoped>
.wrapper-return {
  padding-top: 16px;
  padding-bottom: 16px;
}

.arrow {
  color: var(--primary-color);
  font-size: 1.5em;
}
</style>
