<template>
  <div class="Dashboard">
    <div class="container">
      <div class="row">
        <div class="col-12 wrapper-logout d-flex justify-content-end">
          <a href="#" class="Dashboard-logout" @click="logout()">Cerrar sesión</a>
        </div>
      </div>
    </div>
    <Header title="Panel de administración"/>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button type="button" class="btn btn-warning project" @click="addProject()">Nuevo proyecto</button>
          <button type="button" class="btn btn-warning" @click="goToClassifiers()">Administrar Clasificadores</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <ResourceEdition/>
  </div>
</template>

<script>
import Header from '@/components/Header'
import ResourceEdition from '@/components/ResourceEdition'

export default {
  name: 'Dashboard',
  components: {
    Header,
    ResourceEdition
  },
  methods: {
    addProject() {
      this.$router.push({ name: 'NewResource' })
    },

    logout () {
      this.$router.push({ name: 'Home' })
      localStorage.removeItem('user')
    },

    goToClassifiers () {
      this.$router.push({ name: 'Classifier'})
    }
  }
}
</script>

<style scoped>
.Dashboard-logout {
  color: black;
}

.Dashboard-logout:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.wrapper-logout {
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn.project {
  margin-right: 16px;
}
</style>
