<template>
  <div class="Form-Resource">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 wrapper-return d-flex justify-content-start">
          <router-link :to="{ name: 'Dashboard' }" class="Form-Resource-arrow">
            <i class="fas fa-arrow-left"></i>
          </router-link>
        </div>
      </div>
    </div>
    <Header :title="headerTitle"/>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form @submit.prevent="idResource ? editResource() : saveResource()">
            <div class="form-group">
              <label for="resourceName">Nombre del recurso</label>
              <input type="text" class="form-control" id="resourceName" v-model="resourceName">
            </div>
            <div class="form-group">
              <label for="resourceSummary">Resúmen</label>
              <input type="text" class="form-control" id="resourceSummary" v-model="resourceSummary">
            </div>
            <div class="form-group">
              <label for="resourceDescription">Descripción</label>
              <textarea class="form-control" id="resourceDescription" v-model="resourceDescription"></textarea>
            </div>
            <div class="form-group">
              <label for="resourceEditor">Editor</label>
              <input type="text" class="form-control" id="resourceEditor" v-model="resourceEditor">
            </div>
            <div class="form-group">
              <label for="resourceCollaborators">Colaboradores</label>
              <input type="text" class="form-control" id="resourceCollaborators" v-model="resourceCollaborators">
            </div>
            <div class="form-group">
              <label for="resourceClassification">Clasificación</label>
              <select class="form-control" id="resourceClassification" v-model="resourceClassification">
                <option v-for="competence in competences" :key="competence.item_competence_id" :value="competence.item_competence_id">
                  {{ competence.description }}
                </option>
              </select>
            </div>
            <div class="form-group" v-if="!$route.params.idResource">
              <label for="resourceKeywords">Palabras clave</label>
              <input type="text" class="form-control" id="resourceKeywords" v-model="resourceKeywords">
            </div>
            <div class="custom-file">
              <input type="file" accept="image/*" class="custom-file-input" id="inputFile" @change="browseImage($event)">
              <label class="custom-file-label" for="inputFile">Seleccionar imágenes...</label>
            </div>
            <ul>
              <li v-if="coverImage">{{ coverImage.name }}</li>
            </ul>
            <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import itemService from '../services/items.js'
import Header from '@/components/Header'

export default {
  name: 'FormResource',
  props: ['headerTitle'],
  components: {
    Header
  },
  data () {
    return {
      resourceName: '',
      resourceSummary: '',
      resourceDescription: '',
      resourceEditor: '',
      resourceCollaborators: '',
      resourceClassification: '',
      resourceKeywords: '',
      coverImage: null,
      competences: [],
      idResource: this.$route.params.idResource
    }
  },
  beforeMount () {
    itemService.getCompetences()
      .then(res => {
        this.competences = res.data.records
      })

    if(this.idResource) {
      itemService.getItemById(this.idResource)
      .then(res => {
        let item = res.data
        this.resourceName = item.title
        this.resourceSummary = item.description
        this.resourceDescription = item.body
        this.resourceEditor = item.in_charge
        this.resourceCollaborators = item.partners
        let tmpCompetence = this.competences.filter(competence => {
          return item.competence === competence.description
        })
        
        this.resourceClassification = tmpCompetence[0].item_competence_id
        this.coverImage = item.image
      })
    }
  },
  methods: {
    browseImage (event) {
      this.coverImage = event.target.files[0]
    },

    saveResource() {
      itemService.createItem({
        user_id: 1,
        title: this.resourceName,
        description: this.resourceSummary,
        body: this.resourceDescription,
        in_charge: this.resourceEditor,
        partners: this.resourceCollaborators,
        posting_date: '2018-01-01',
        image: this.coverImage,
        item_type_id: 1,
        key_words: this.resourceKeywords,
        item_competence_id: parseInt(this.resourceClassification)
      })
      .then(() => {
        this.$swal({
          type: 'success',
          title: 'Bien!',
          text: 'Recurso creado con éxito',
          timer: 1500, 
          showConfirmButton: false
        })

        setTimeout(() => {
          this.$router.push('/auth/dashboard')
          window.location.reload()
        }, 1500);
      })
      .catch(() => {
        this.$swal({
          type: 'error',
          title: 'Ops!',
          text: 'Ha ocurrido un problema al crear el recurso'
        })
      })
    },

    editResource () {
      itemService.editItem({
        id: this.idResource,
        user_id: 1,
        title: this.resourceName,
        description: this.resourceSummary,
        body: this.resourceDescription,
        in_charge: this.resourceEditor,
        partners: this.resourceCollaborators,
        posting_date: '2018-01-01', 
        item_type_id: 1,
        item_competence_id: parseInt(this.resourceClassification),
        image: this.coverImage
      })
      .then(() => {
        this.$swal({
          type: 'success',
          title: 'Bien!',
          text: 'Recurso editado con éxito!',
          timer: 1500,
          showConfirmButton: false
        })
        setTimeout(() => {
          this.$router.push({ name: 'Dashboard' })
          window.location.reload()
        }, 1500);
      })
      .catch(() => {
        this.$swal({
          type: 'error',
          title: 'Ops!',
          text: 'Ha ocurrido un problema al editar el recurso'
        })
      })
    }
  }
}
</script>

<style scoped>
button {
  margin-bottom: 64px;
}

.wrapper-return {
  padding-top: 16px;
  padding-bottom: 16px;
}

.Form-Resource-arrow {
  color: var(--primary-color);
  font-size: 1.5em;
}

.custom-file {
  margin-top: 32px;
  margin-bottom: 32px;
}
</style>
