<template>
  <div class="Form-Competence">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 wrapper-return d-flex justify-content-start">
          <router-link :to="{ name: 'Dashboard' }" class="Form-Resource-arrow">
            <i class="fas fa-arrow-left"></i>
          </router-link>
        </div>
      </div>
    </div>
    <Header :title="headerTitle"/>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form @submit.prevent="">
            <div class="form-group">
              <label for="resourceName">Nombre del recurso</label>
              <input type="text" class="form-control" id="resourceName" v-model="resourceName">
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormCompetence'
}
</script>

<style scoped>

</style>
