<template>
  <div class="Home">
    <!-- <Navbar /> -->
    <Header title="Licenciatura en ciencias de la computación"
      image="logo-uady.png"
      :isSubtitle="true" />
    <Carousel />
    <ResourceList :label="competence" v-for="(competence, index) in competences" :key="index"/>
    <Footer />
  </div>
</template>

<script>
import _ from 'lodash'
import itemService from '../services/items.js'
// import Navbar from '@/components/Navbar'
import Header from '@/components/Header'
import Carousel from '@/components/Carousel'
import ResourceList from '@/components/ResourceList'
import Footer from '@/components/Footer'

export default {
  name: 'Home',
  data () {
    return {
      competences: []
    }
  },
  components: {
    // Navbar,
    Header,
    Carousel,
    ResourceList,
    Footer
  },
  beforeMount () {
    itemService.getItems()
      .then(res => {
        let newRecords = _.groupBy(res.data.records, 'competence')
        this.competences = Object.keys(newRecords)
        this.$store.dispatch('setRecords', {
          parser: newRecords,
          plain: res.data.records
        })
      })
      .catch(() => {
        this.$swal({
          type: 'error',
          title: 'Algo salió mal',
          text: 'No se pueden obtener los recursos en éste momento'
        })
      })
  }
}
</script>
