<template>
  <div class="Login">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center">Iniciar sesión</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <form @submit.prevent="login()">
            <div class="form-group">
              <label for="inputUsername">Nombre de usuario</label>
              <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" v-model="username">
            </div>
            <div class="form-group">
              <label for="inputPassword">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword" v-model="password">
            </div>
            <button type="submit" class="btn">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiClient from '../services'

export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      if (this.username !== '' && this.password !== '') {
        apiClient.post('/autentication/login.php', {
            user_name: this.username,
            passwd: this.password
          })
          .then(({ data }) => {
            if (data.login === 'false') {
              this.$swal({
                type: 'warning',
                title: 'Oh oh!',
                text: 'Usuario no encontrado'
              })
            } else {
              this.$swal({
                type: 'success',
                title: 'Verificado',
                text: 'Inicio de sesión exitoso',
                timer: 1000,
                showConfirmButton: false
              })

              localStorage.setItem('user', 'ok')
    
              setTimeout(() => {
                this.$router.push({ name: 'Dashboard' })
              }, 1000)
            }

          })
      } else {
        this.$swal({
          type: 'warning',
          title: 'Oh oh!',
          text: 'Debes llenar todos los campos'
        })
      }
    }
  }
}
</script>

<style scoped>
h4 {
  text-transform: uppercase;
  color: white;
}

.Login {
  height: 100vh;
}

.container-fluid {
  background-color: var(--primary-color);
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  margin-top: 10%;
}

.btn {
  background-color: var(--accent-color);
  color: white;
}
</style>
