<template>
  <div class="Resource">
    <VisorImages />
    <div class="container">
      <div class="wrapper-content">
        <div class="row">
          <div class="col-12">
            <h1 class="text-secondary text-center text-lg-left">{{record.title}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="text-secondary">Responsable</span>
            <span class="Resource-responsible">{{record.in_charge}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="text-secondary">Colaboradores</span>
            <span class="Resource-collaborators">{{record.partners}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="text-secondary text-center text-lg-left">
            Descripción
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-justify text-secondary">
            {{ record.body }}
          </p>
        </div>
      </div>
      <br>
      <br>
      <!-- <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div> -->
    </div>
    <br>
    <br>
    <br>
    <Footer />
  </div>
</template>

<script>
import itemService from '../services/items.js'
import VisorImages from '@/components/VisorImages'
import Footer from '@/components/Footer'

export default {
  props: ['idResource'],
  name: 'Resource',
  components: {
    VisorImages,
    Footer
  },
  data () {
    return {
      record: {}
    }
  },
  beforeMount () {
    // this.record = this.$store.getters.getRecordById(this.idResource)
    itemService.getItemById(this.idResource)
    .then(res => {
      this.record = res.data
    })
    .catch(() => {
      console.log('error')
    })
  }
}
</script>

<style scoped>
.wrapper-content {
  padding: 64px 0;
}

.wrapper-tags {
  background-color: var(--primary-color-light);
}

.Resource-responsible, .Resource-collaborators {
  color: var(--primary-color-light);
  margin-left: 16px;
}

.Resource-collaborators {
  font-weight: 100;
}

.Resource-tags {
  color: white;
  text-transform: uppercase;
}
</style>
