<template>
  <div class="Upload">
     <div class="container-fluid">
      <div class="row">
        <div class="col-12 wrapper-return d-flex justify-content-start">
          <router-link :to="{ name: 'Dashboard' }" class="Form-Resource-arrow">
            <i class="fas fa-arrow-left"></i>
          </router-link>
        </div>
      </div>
    </div>
    <Header title="Administración de imágenes"/>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form @submit.prevent="uploadImages()">
            <div class="custom-file">
              <input type="file" accept="image/*" class="custom-file-input" id="inputFile" @change="browseImage($event)">
              <label class="custom-file-label" for="inputFile">Seleccionar imágenes...</label>
            </div>
            <ul>
              <li v-for="file in files" :key="file.lastModified">
                {{ file.name }}
              </li>
            </ul>
            <button :disabled="files.length === 0" type="submit" class="btn btn-lg btn-primary upload-images">Cargar imágenes</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <v-client-table :data="tableData" :columns="columns" :options="options">
            <div slot="actions" slot-scope="props">
              <button class="btn btn-danger btn-sm btn-fill btn-options btn-sqr" @click="deleteImage(props.row.file_id)">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </v-client-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '../components/Header'
import fileService from '../services/files'
export default {
  name: 'Upload',
  data () {
    return {
      files: [],
      columns: ['file_id', 'title', 'actions'],
      tableData: [],
      options: {
        headings: {
          file_id: 'Id',
          title: 'Titulo',
          actions: 'Acciones'
        },
        texts: {
          filter: 'Filtrar',
          filterPlaceholder: 'Buscar',
          limit:"Registros:",
          count:"Mostrando {from} a {to} de {count} registros|{count} registros|One record"
        }
      }
    }
  },
  components: {
    Header
  },
  beforeMount () {
    fileService.getFiles()
    .then(res => {
      let images = res.data.records.filter(image => {
        return image.item_id === this.$route.params.idResource
      })

      this.tableData = images
    })
  },
  methods: {
    browseImage(event) {
      this.files.push(event.target.files[0])
    },

    uploadImages() {
      for(let i = 0; i < this.files.length; i++) {
        fileService.createFile({
          item_id: this.$route.params.idResource,
          title: this.files[i].name,
          source: this.files[i]
        })
        .then(() => {
          console.log('subido')
        })
        .catch(err => {
          console.log(err)
        })
      }

      this.$swal({
        type: 'success',
        title: 'Bien!',
        text: 'Imágenes cargadas con éxito',
        timer: 1500,
        showConfirmButton: false
      })
      setTimeout(() => {
        window.location.reload()
      }, 1500)
    },

    deleteImage (id) {
      this.$swal({
        type: 'warning',
        title: 'Eliminar',
        text: '¿Está seguro que desea eliminar este recurso?',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, eliminar!',
        cancelButtonText: 'Cancelar'
      }).then(result => {
        if (result.value) {
          fileService.deleteFile(id)
          .then(() => {
            this.$swal({
              type: 'success',
              title: 'Bien!',
              text: 'Imágen eliminado con éxito',
              timer: 1500,
              showConfirmButton: false
            })
            setTimeout(() => {
              window.location.reload()
            }, 1500)
          })
          .catch(() => {
             this.$swal({
                type: 'error',
                title: 'Ops!',
                text: 'Ha ocurrido un error al eliminar el recurso'
              })
          })
        }
      })
    }
  }
}
</script>

<style scoped>
.Form-Resource-arrow {
  color: var(--primary-color);
  font-size: 1.5em;
}

.wrapper-return {
  padding-top: 16px;
  padding-bottom: 16px;
}

.custom-file {
  margin-top: 64px;
}

ul.images {
  margin-bottom: 64px;
}

button.upload-images {
  margin-bottom: 64px;
}
</style>
