<template>
<div class="Carousel">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="CarouselNews" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" v-for="(record, index) in records" :key="record.item_id" :class="{ 'active': index === 0 }">
              <img v-if="!record.image" src="../assets/mock-img.png" class="d-block w-100">
              <img v-else :src="getFullURLImage(record.image)" class="d-block w-100">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ record.title }}</h5>
                <p>{{ record.description }}</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#CarouselNews" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#CarouselNews" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import itemService from '../services/items.js'

export default {
  name: 'Carousel',
  data () {
    return {
      records: []
    }
  },
  beforeMount () {
    itemService.getLastThree()
      .then(res => {
        this.records = res.data.records
      })
      .catch(() => {
        this.$swal({
          type: 'error',
          title: 'Algo salió mal',
          text: 'No se pueden obtener los recursos en éste momento'
        })
      })
  },
  methods: {
    getFullURLImage(path) {
      if (path) {
        return process.env.VUE_APP_API_URI_ROOT + path
      }
    }
  }
}
</script>

<style scoped>
img {
  height: 656px;
}

.Carousel {
  padding: 64px 0;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, .7);
  bottom: 0;
  right: 0;
  left: 0;
}
</style>
