<template>
  <div class="Footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <h5>Facultad de matemáticas</h5>
          <div class="Footer-address Footer--margin-top">
            <h5>Dirección</h5>
            <span>
              Anillo Periférico Norte, Tablaje Cat. 13615, Colonia Chuburná Hidalgo Inn, Mérida Yucatán.
            </span>
          </div>
          <div class="Footer-phone Footer--margin-top">
            <h5>Teléfono</h5>
            <span>(999) 942 31 40 al 49</span>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="Footer-email">
            <h5>Correo</h5>
            <span>
              matemati@www.uady.mx
            </span>
          </div>
          <div class="Footer-coordinator Footer--margin-top">
            <h5>Coordinador de carrera</h5>
            <span>M. en C. Enrique Ayala Franco</span>
          </div>
          <div class="Footer-coordinator-contact Footer--margin-top">
            <h5>Contacto</h5>
            <span>enrique.ayala@correo.uady.mx</span>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center Footer-login">
          <router-link :to="{ name: 'Login' }" class="Footer-link">Iniciar sesión</router-link>
          <img src="../assets/logo-uady.png" class="img-fluid d-none d-lg-block">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
h5 {
  font-weight: bold;
}

.Footer {
  padding: 64px 0;
  color: white;
  background-color: var(--primary-color);
}

.Footer-address {
  width: 80%;
}

.Footer--margin-top {
  margin-top: 32px;
}

.Footer-link {
  color: white;
  text-decoration: none;
}

.Footer-link:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 992px) {
  .Footer-login {
    margin-top: 64px;
  }
}
</style>
