<template>
  <div class="Header">
    <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <img v-if="image" :src="getImage(image)" alt="logo-uady" class="img-fluid d-none d-lg-block" height="10">
          <div class="d-flex flex-column">
            <h1 class="text-center">{{ title }}</h1>
            <p v-if="isSubtitle" class="text-center">Divulgación de trabajos realizados en el programa de estudios LCC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: ['title', 'image', 'isSubtitle'],
  methods: {
    getImage(image) {
      return require(`../assets/${image}`)
    }
  }
}
</script>

<style scoped>
.Header {
  background-color: var(--primary-color);
  color: white;
  padding: 16px 0;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
}

p {
  font-weight: 300;
  font-size: 1.2em;
}
</style>
