<template>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/logo-fmat.png" height="80">
  </a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <router-link class="nav-link" :to="{ name: 'Login' }">Iniciar sesión</router-link>
      </li>
    </ul>
  </div>
</nav>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>

<style scoped>
a.nav-link:hover {
  color: var(--secondary-color) !important;
}
</style>
