<template>
  <div class="Resource-Edition">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <v-client-table :data="tableData" :columns="columns" :options="options">
            <div slot="actions" slot-scope="props">
              <button class="btn btn-primary btn-sm btn-fill btn-options btn-sqr" @click="uploadImages(props.row.item_id)">
                <i class="far fa-image"></i>
              </button>
              <button class="btn btn-warning btn-sm btn-fill btn-options btn-sqr" @click="editResource(props.row.item_id)">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button class="btn btn-danger btn-sm btn-fill btn-options btn-sqr" @click="deleteResource(props.row.item_id)">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </v-client-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import itemService from '../services/items.js'
import fileService from '../services/files.js'
import { setTimeout } from 'timers';

export default {
  name: 'ResourceEdition',
  data () {
    return {
      columns: ['item_id', 'title', 'description', 'actions'],
      tableData: [],
      options: {
        headings: {
          item_id: 'Id',
          title: 'Titulo',
          description: 'Descripción',
          actions: 'Acciones'
        },
        texts: {
          filter: 'Filtrar',
          filterPlaceholder: 'Buscar',
          limit:"Registros:",
          count:"Mostrando {from} a {to} de {count} registros|{count} registros|One record"
        }
      }
    }
  },
  beforeMount () {
    itemService.getItems()
      .then(res => {
        this.tableData = res.data.records
      })
  },
  methods: {
    editResource(id) {
      this.$router.push({ name: 'EditResource', params: { idResource: id } })
    },
    deleteResource(id) {
      this.$swal({
        type: 'warning',
        title: 'Eliminar',
        text: '¿Está seguro que desea eliminar este recurso?',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, eliminar!',
        cancelButtonText: 'Cancelar'
      }).then(result => {
        if (result.value) {
          fileService.getFiles()
            .then(async res => {
              let files = res.data.records
              for(let i = 0; i < files.length; i++) {
                let deleted = await fileService.deleteFile(files[i].file_id)
                .then(() => {
                  return true
                })
                .catch(() => {
                  return false
                })
                if(deleted) continue;
              }
              // BORRAR ITEM
              itemService.deleteItem(id)
                .then(() => {
                  this.$swal({
                    type: 'success',
                    title: 'Bien!',
                    text: 'Recurso eliminado con éxito',
                    timer: 1500,
                    showConfirmButton: false
                  })
                  setTimeout(() => {
                    window.location.reload()
                  }, 1500)
                })
                .catch(() => {
                  this.$swal({
                    type: 'error',
                    title: 'Ops!',
                    text: 'Ha ocurrido un error al eliminar el recurso'
                  })
                })

              // FIN BORRAR ITEM
            })
            .catch(() => {
              itemService.deleteItem(id)
                .then(() => {
                  this.$swal({
                    type: 'success',
                    title: 'Bien!',
                    text: 'Recurso eliminado con éxito',
                    timer: 1500,
                    showConfirmButton: false
                  })
                  setTimeout(() => {
                    window.location.reload()
                  }, 1500)
                })
                .catch(() => {
                  this.$swal({
                    type: 'error',
                    title: 'Ops!',
                    text: 'Ha ocurrido un error al eliminar el recurso'
                  })
                })
            })
        }
      })
    },
    uploadImages(id) {
      this.$router.push({ name: 'UploadImage', params: { idResource: id } })
    }
  }
}
</script>

<style scoped>
</style>
