<template>
  <div class="Resource-List">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 wrapper-label">
          <h3 class="text-center">{{ label }}</h3>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row wrapper-resources">
      <ResourceCard v-for="element in listRecords" :key="element.item_id"
        :idResource="element.item_id" 
        :title="element.title"
        :image="getFullURLImage(element.image)"
        :description="element.description"/>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ResourceCard from './ResourceCard'

export default {
  name: 'ResourceList',
  props: ['label'],
  components: {
    ResourceCard
  },
  computed: {
    ...mapState({
      records: 'records'
    }),

    listRecords () {
      return this.records[this.label]
    }
  },
  methods: {
    getFullURLImage(path) {
      if (path) {
        return process.env.VUE_APP_API_URI_ROOT + path
      }
    }
  }
}
</script>

<style scoped>
h3 {
  color: white;
  margin: 16px 0;
}

.Resource-List {
  padding: 32px 0;
}

.wrapper-label {
  background-color: var(--accent-color);
  border-radius: 0 8px 8px 0;
}

.wrapper-resources {
  margin-top: 32px;
  margin-left: 32px;
  padding: 16px 0;
  overflow-x: auto;
}
</style>
