<template>
  <router-link :to="{ name: 'Resource', params: { idResource } }" class="Resource-Card">
    <div class="card" style="width: 18rem;">
      <img v-if="!image" src="../assets/mock-img.png" class="card-img-top">
      <img v-else :src="image" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">
          {{ description }}
        </p>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'ResourceCard',
  props: ['title', 'description', 'idResource', 'image']
}
</script>

<style scoped>
img {
  height: 160px;
}
.Resource-Card {
  transition: .3s;
  margin-right: 32px;
  color: black
}

.Resource-Card:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.card {
  height: 310px;
  overflow: hidden;
}
</style>
