<template>
  <div class="Visor-Images">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <router-link :to="{ name: 'Home' }">
            <i class="fas fa-arrow-left"></i>
          </router-link>
        </div>
      </div>
    </div>
    <div class="d-flex wrapper-images">
      <img :src="image.source" v-for="image in getFullURLImages" :key="image.id">
    </div>
  </div>
</template>

<script>
import fileService from '../services/files'
export default {
  name: 'VisorImages',
  data () {
    return {
      images: []
    }
  },
  beforeMount() {
    fileService.getFiles()
    .then(res => {
      let myImages = res.data.records.filter(image => {
        return image.item_id === this.$route.params.idResource
      })

      this.images = myImages
    })
    // .catch((err) => {
    //   console.log(err)
    // })
  },
  computed: {
    getFullURLImages() {
      return this.images.map(image => {
        return {
          id: image.file_id,
          source: process.env.VUE_APP_API_URI_ROOT + image.source
        }
      })
    }
  }
}
</script>

<style scoped>
.Visor-Images {
  background-color: var(--secondary-color);
  padding: 32px 0;
}

.wrapper-images {
  overflow-x: auto;
  margin-left: 32px;
  padding: 16px 0;
}

i {
  font-size: 1.8em;
  color: white;
  transition: .3s;
}

i:hover {
  transform: scale(1.5);
}

img {
  height: 200px;
  width: 300px;
  margin-right: 32px;
}
</style>
