<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  --primary-color: #00264E;
  --secondary-color: #C68D2A;
  --accent-color: #FFA100;
  --primary-color-light: #1989FF;
}
</style>
